# Part 2 - Vacation Search

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from Config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [5]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("data/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Ushuaia,AR,-54.8000,-68.3000,44.26,57,75,25.32,broken clouds
1,1,Tiznit,MA,29.5833,-9.5000,67.64,25,81,6.64,broken clouds
2,2,Mar Del Plata,AR,-38.0023,-57.5575,80.10,61,0,6.91,clear sky
3,3,Airai,TL,-8.9266,125.4092,60.66,89,100,2.35,moderate rain
4,4,Les Escoumins,CA,48.1111,-69.0236,30.76,83,100,12.03,overcast clouds

In [6]:
city_data_df.dtypes

City_ID                  int64
City                    object
Country                 object
Lat                    float64
Lng                    float64
Max Temp               float64
Humidity                 int64
Cloudiness               int64
Wind Speed             float64
Current Description     object
dtype: object

In [7]:
gmaps.configure(api_key=g_key)

In [8]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your vacation?"))
max_temp = float(input("What is the maximum temperature you would like for your vacation?"))

What is the minimum temperature you would like for your vacation?75
What is the maximum temperature you would like for your vacation?90

In [11]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
filtered_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                     (city_data_df["Max Temp"] >= min_temp)]

In [13]:
filtered_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Mar Del Plata,AR,-38.0023,-57.5575,80.10,61,0,6.91,clear sky
8,8,Vaini,TO,-21.2000,-175.2000,86.16,74,40,5.75,scattered clouds
10,10,Rikitea,PF,-23.1203,-134.9692,78.46,73,100,7.78,overcast clouds
12,12,Alofi,NU,-19.0595,-169.9187,78.69,78,75,9.22,shower rain
17,17,Jizan,SA,17.3333,42.6667,77.94,74,16,3.98,few clouds
...,...,...,...,...,...,...,...,...,...,...
688,688,Salalah,OM,17.0151,54.0924,78.89,21,0,10.36,clear sky
690,690,Sao Miguel Do Araguaia,BR,-13.2750,-50.1628,76.35,85,41,3.87,scattered clouds
692,692,Necochea,AR,-38.5473,-58.7368,84.02,49,100,11.23,light rain
695,695,Pontal Do Parana,BR,-25.6533,-48.5128,83.41,86,8,7.14,clear sky
698,698,Manadhoo,MV,5.7667,73.3833,81.27,71,12,8.12,few clouds

In [14]:
# 4a. Determine if there are any empty rows.
filtered_cities_df.count()

City_ID                195
City                   195
Country                195
Lat                    195
Lng                    195
Max Temp               195
Humidity               195
Cloudiness             195
Wind Speed             195
Current Description    195
dtype: int64

In [15]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
filtered_cities_df = filtered_cities_df.dropna()
filtered_cities_df

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
2,2,Mar Del Plata,AR,-38.0023,-57.5575,80.10,61,0,6.91,clear sky
8,8,Vaini,TO,-21.2000,-175.2000,86.16,74,40,5.75,scattered clouds
10,10,Rikitea,PF,-23.1203,-134.9692,78.46,73,100,7.78,overcast clouds
12,12,Alofi,NU,-19.0595,-169.9187,78.69,78,75,9.22,shower rain
17,17,Jizan,SA,17.3333,42.6667,77.94,74,16,3.98,few clouds
...,...,...,...,...,...,...,...,...,...,...
688,688,Salalah,OM,17.0151,54.0924,78.89,21,0,10.36,clear sky
690,690,Sao Miguel Do Araguaia,BR,-13.2750,-50.1628,76.35,85,41,3.87,scattered clouds
692,692,Necochea,AR,-38.5473,-58.7368,84.02,49,100,11.23,light rain
695,695,Pontal Do Parana,BR,-25.6533,-48.5128,83.41,86,8,7.14,clear sky
698,698,Manadhoo,MV,5.7667,73.3833,81.27,71,12,8.12,few clouds

In [16]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = filtered_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Mar Del Plata,AR,80.10,clear sky,-38.0023,-57.5575,
8,Vaini,TO,86.16,scattered clouds,-21.2000,-175.2000,
10,Rikitea,PF,78.46,overcast clouds,-23.1203,-134.9692,
12,Alofi,NU,78.69,shower rain,-19.0595,-169.9187,
17,Jizan,SA,77.94,few clouds,17.3333,42.6667,
19,Moindou,NC,82.35,broken clouds,-21.6924,165.6770,
23,Butaritari,KI,81.73,light rain,3.0707,172.7902,
26,Saint-Louis,SN,80.24,broken clouds,16.3333,-15.0000,
28,Gigmoto,PH,76.93,overcast clouds,13.7796,124.3900,
30,Atuona,PF,77.59,light rain,-9.8000,-139.0333,

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

   # 6c. Get latitude and longitude from DataFrame
for i, row in hotel_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    
    params["location"] = f"{lat},{lng}"

    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    hotels = requests.get(base_url, params=params).json()

    try:
        hotel_df.loc[i, "Hotel Name"] = hotels["results"][0]["name"]
    except IndexError:
        print("Hotel Not Found... Skipping...")

Hotel Not Found... Skipping...
Hotel Not Found... Skipping...
Hotel Not Found... Skipping...
Hotel Not Found... Skipping...
Hotel Not Found... Skipping...
Hotel Not Found... Skipping...
Hotel Not Found... Skipping...
Hotel Not Found... Skipping...
Hotel Not Found... Skipping...
Hotel Not Found... Skipping...
Hotel Not Found... Skipping...

In [21]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
2,Mar Del Plata,AR,80.10,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
8,Vaini,TO,86.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
10,Rikitea,PF,78.46,overcast clouds,-23.1203,-134.9692,People ThankYou
12,Alofi,NU,78.69,shower rain,-19.0595,-169.9187,Taloa Heights
17,Jizan,SA,77.94,few clouds,17.3333,42.6667,شهدان. ابوالحجر

In [23]:
output_data_file = "./data/WeatherPy_vacation.csv"
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [25]:
vacation_df = pd.read_csv("./data/weatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Mar Del Plata,AR,80.10,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
1,8,Vaini,TO,86.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
2,10,Rikitea,PF,78.46,overcast clouds,-23.1203,-134.9692,People ThankYou
3,12,Alofi,NU,78.69,shower rain,-19.0595,-169.9187,Taloa Heights
4,17,Jizan,SA,77.94,few clouds,17.3333,42.6667,شهدان. ابوالحجر
...,...,...,...,...,...,...,...,...
190,688,Salalah,OM,78.89,clear sky,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
191,690,Sao Miguel Do Araguaia,BR,76.35,scattered clouds,-13.2750,-50.1628,Hotel Executivo Palace
192,692,Necochea,AR,84.02,light rain,-38.5473,-58.7368,dyd -mar Hotel
193,695,Pontal Do Parana,BR,83.41,clear sky,-25.6533,-48.5128,Eco Hostel Residencial Bananeiras
194,698,Manadhoo,MV,81.27,few clouds,5.7667,73.3833,Bon Abri maldives

In [28]:
vacation_df.count()

City_ID                195
City                   195
Country                195
Max Temp               195
Current Description    195
Lat                    195
Lng                    195
Hotel Name             184
dtype: int64

In [29]:
# 7. Drop the rows where there is no Hotel Name.
vacation_df = vacation_df.dropna()
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Mar Del Plata,AR,80.10,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
1,8,Vaini,TO,86.16,scattered clouds,-21.2000,-175.2000,Keleti Beach Resort
2,10,Rikitea,PF,78.46,overcast clouds,-23.1203,-134.9692,People ThankYou
3,12,Alofi,NU,78.69,shower rain,-19.0595,-169.9187,Taloa Heights
4,17,Jizan,SA,77.94,few clouds,17.3333,42.6667,شهدان. ابوالحجر
...,...,...,...,...,...,...,...,...
190,688,Salalah,OM,78.89,clear sky,17.0151,54.0924,"HAMDAN PLAZA HOTEL SALALAH, an HTG Hotel"
191,690,Sao Miguel Do Araguaia,BR,76.35,scattered clouds,-13.2750,-50.1628,Hotel Executivo Palace
192,692,Necochea,AR,84.02,light rain,-38.5473,-58.7368,dyd -mar Hotel
193,695,Pontal Do Parana,BR,83.41,clear sky,-25.6533,-48.5128,Eco Hostel Residencial Bananeiras
194,698,Manadhoo,MV,81.27,few clouds,5.7667,73.3833,Bon Abri maldives

In [30]:
# 8a. Create the output File (CSV)
output_data_file = "./data/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
vacation_df.to_csv(output_data_file, index_label="City_ID")

In [49]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}°F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [50]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# 11b. Display the figure
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))